name: ci
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build API
        run: dotnet build InsightDesk.WebApi/InsightDesk.WebApi.csproj --configuration Release

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Frontend deps
        working-directory: web/insightdesk-web
        run: npm ci

      - name: Lint/Build Web
        working-directory: web/insightdesk-web
        run: |
          npm run lint --if-present || echo "lint step configured Day 2"
          npm run build
